<md-toolbar color="primary">

  <span>{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span style="flex: 1 1 auto;"></span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button>Gallery</button>
    <button md-button>Contact</button>
  </div>

  <button md-button [mdMenuTriggerFor]="toolbarMenu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>

</md-toolbar>

<md-menu #toolbarMenu="mdMenu" xPosition="before">
  <button md-menu-item>Gallery</button>
  <button md-menu-item>Contact</button>
</md-menu>
