<md-card>
  <md-card-title>Fill in the following:</md-card-title>

  <md-card-content>
    <form>
      <md-input-container class="example-full-width">
        <input mdInput type="text" placeholder="Full Name">
      </md-input-container>

      <md-input-container class="example-full-width">
        <textarea mdTextareaAutosize mdAutosizeMinRows="5" mdInput type="text" placeholder="Enter your message"></textarea>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput type="number" placeholder="Mobile number">
      </md-input-container>
    </form>
  </md-card-content>

  <md-card-actions>
    <button md-button>Submit</button>
  </md-card-actions>

</md-card>
